html, body {
    padding:0;
    margin:0;
  }
  
body {
    background-color: aliceblue;
    background-image:url("/images/mountain_view_dark.jpg");
    background-size: cover;
}
    
p1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size:small;
    color:white;
    }
    
p2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
    font-size:large;
    color:white;
  }
    
p3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size:small;
    color:white;
  }
    
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: xx-large;
    color: white;
  }
    
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: large;
    color: white;
  }
     
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:bold;
    font-size:large;
    color:white;
  }
    
.logo {
    margin-top:0.5vw;
    padding:0.3vw;
  }
    
nav {
    background-color: rgba(100, 206, 250, 0.2);
    display:flex;
    align-items:center;
    top:0;
    /* justify-content:space-evenly; */
  }
    
nav img {
    padding-left:2vw;
    width:15vw;
  }
    
nav ul {
    list-style-type: none; /* removes bullet point */
    margin:0;
    padding:0;
  }
    
nav li {
    /* outline:2px solid red; */
    display:inline-block;
    padding:1vw;
    justify-content:space-around;
  }
    
nav li a {
    color:white;
    padding: 14px;
    text-decoration:none;
    background-color: darkblue;
    border:2px solid white;
  }
  
nav ul li a:hover {
  color:lightblue;
}
.header-image{
    display:flex;
    flex-direction: column;
    background-image: url("/images/mountain_view_light.jpg");
    height:80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
  }

.pukeko_info {
    display:flex;
    justify-content:center;
}

.pukeko_info h2 {
  font-size:1.2vw;
}

.pukeko_image {
    /* outline:2px solid blue; */
    width:40%;
    text-align:center;
    margin-left:2vw;
    height:15vw;
    margin-top:3vw;
    position:relative;
}

/* .object-fit-cover {
  width:100%;
  height:100%;
  object-fit:cover;
} */

.pukeko_image img {
    height:100%;
    width:100%;
    object-fit:cover;
}

.features {
    /* outline:2px solid pink; */
    width:40%;
    text-align:center;
    margin-left:2vw;
    height:15vw;
    margin-top:3vw;
}

.pukeko_gallery {
    /* outline:2px solid purple; */
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:4vw;
    height:50%;
}
