html, body {
    padding:0;
    margin:0;
    height:100%;
  }
  
body {
    background-color: aliceblue;
    background-image:url("/images/mountain_view_dark.jpg");
    background-size: cover;
}
    
p1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size:small;
    color:white;
    }
    
p2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
    font-size:large;
    color:white;
  }
    
p3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size:small;
    color:white;
  }
    
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: xx-large;
    color: white;
  }
    
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: large;
    color: white;
  }
     
    
.logo {
    margin-top:0.5vw;
    padding:0.3vw;
  }
    
nav {
    background-color: rgba(100, 206, 250, 0.2);
    display:flex;
    align-items:center;
    top:0;
    /* justify-content:space-evenly; */
  }
    
nav img {
    padding-left:2vw;
    width:15vw;
  }
    
nav ul {
    list-style-type: none; /* removes bullet point */
    margin:0;
    padding:0;
  }
    
nav li {
    /* outline:2px solid red; */
    display:inline-block;
    padding:1vw;
    justify-content:space-around;
  }
    
nav li a {
    color:white;
    padding: 14px;
    text-decoration:none;
    background-color: darkblue;
    border:2px solid white;
  }
  
.become_member {
    outline:2px solid lightblue;
    height:40%;
    text-align:center;
    padding-top:1.5vw;
}

.splash_text {
    outline:2px solid yellow;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    height:40%;
}

.benefits {
    margin-top:2vw;
    outline:2px solid pink;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    height:40%;
}

.booking { /* this whole thing is the bottom container */
    outline:2px solid lightblue;
    height:40%;
    display:flex;
    text-align:center;

}

.booking_form {
    margin-top:2vw;
    outline:2px solid yellow;
    width:50%;
    margin-left:2vw;
    margin-right:2vw;
    height:80%;
    
}

.email_details {
    margin-top:2vw;
    outline:2px solid pink;
    width:50%;
    margin-left:2vw;
    margin-right:2vw;
    height:80%;
}

form {
  /* margin-top: 20rem; */ /* better to comment out a line than delete it */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}


.form_container #FullName,
.form_container #Address,
.form_container #IDProof,
.form_container #AddressProof {
  padding: 0.5rem;
  width: 20%;
  border-top: 1vw;
  border-left: 1vw;
  border-right: 1vw;
  border-bottom: 5px #000 solid;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.form_container #FullName::placeholder,
.form_container #Address::placeholder,
.form_container #IDProof::placeholder,
.form_container #AddressProof::placeholder {
  color: pink;
}

.form_container #submit {
  width: 80%;
  height: 2rem;
  color: pink;
  background-color: transparent;
  border: 3px pink solid;
  margin-left: 6%;
  margin-top: 1rem;
  transition: all 0.3s ease 0s;
}

.form_container #submit:hover {
  opacity: 0.5s;
  cursor: pointer;
}